:root {
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   color: black;
   font-weight: bold;
}

/* YOOO, goot text bro*/
/* https://webdesign-assistant.com/effect-editor/css-effect-generator.php */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
h1 {
   text-align: center;
   margin-top: 0;
   font-family: "Archivo Black", sans-serif;
   font-size: 73px;
   color: rgb(255, 111, 0);
   text-shadow: rgba(0, 128, 153, 0.75) 0px 0px 0px, rgba(0, 81, 149, 0.75) 4.1px 4.8px 0px, rgba(0, 36, 145, 0.75) 8.2px 9.6px 0px, rgba(6, 0, 142, 0.75) 12.2px 14.4px 0px, rgba(46, 0, 138, 0.75) 16.3px 19.2px 0px, rgba(84, 0, 134, 0.75) 20.4px 24px 0px, rgba(119, 0, 130, 0.75) 24.5px 28.8px 0px, rgba(126, 0, 100, 0.75) 28.5px 33.6px 0px, rgba(122, 0, 61, 0.75) 32.6px 38.4px 0px;
}

body {
   background-image: url("data/grass.png");
}

.numba {
   width: 5em;
}

input {
   margin-bottom: 5px;
}

form {
   width: fit-content;

   padding: 4px;

   background: white;
   border: 2px solid black;
}

#chad {
   image-rendering:crisp-edges;
   width: 600px;
   position: absolute;
   top: 450px;
   left: 650px;
}

#factorial {
   position: absolute;
   top: 640px;
   left: 620px;
}

#circleSurface {
   position: absolute;
   top: 630px;
   left: 1100px;
}

#gigachad {
   image-rendering:crisp-edges;
   width: 900px;
   position: absolute;
   top: 250px;
   left: 50px;
}

#circumference {
   position: absolute;
   top: 300px;
   left: 10px;
}

#fibonacci {
   position: absolute;
   top: 340px;
   left: 840px;
}

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
#chad-description {
   position: absolute;
   top: 550px;
   left: 10px;

    font-family: "Baloo Bhaina", cursive;
    font-size: 29px;
    color: hsl(360, 100%, 59%);
    text-shadow: rgba(163, 0, 0, 0.75) 0px 0px 0px, rgba(143, 0, 0, 0.75) 4.2px 2.9px 1.9px, rgba(122, 0, 0, 0.75) 8.3px 5.8px 3.8px, rgba(102, 0, 0, 0.75) 12.5px 8.8px 5.7px, rgba(82, 0, 0, 0.75) 16.6px 11.7px 7.5px, rgba(61, 0, 0, 0.75) 20.8px 14.6px 9.4px, rgba(41, 0, 0, 0.75) 24.9px 17.5px 11.3px, rgba(20, 0, 0, 0.75) 29.1px 20.5px 13.2px, rgba(0, 0, 0, 0.75) 33.2px 23.4px 15.1px;
}

#jesus {
   image-rendering:crisp-edges;
   width: 600px;
   position: absolute;
   top: 260px;
   left: 940px;
}

#sphereVolume {
   position: absolute;
   top: 300px;
   left: 1300px;
}

#shting {
   background-image: url("data/golden.png");
   border-top: 3px solid black;
   width: 100%;
   height: 296px;
   position: absolute;
   top: 930px;
   left: 0px;
}

#fire {
   position: absolute;
   left: 905px;
   top: 887px;
}

#cross1 {
   position: absolute;
   left: 1050px;
   top: 400px;
}

#cross2 {
   position: absolute;
   left: 1300px;
   top: 200px;
}

#cross3 {
   position: absolute;
   left: 1450px;
   top: 400px;
}

#geometry {
   position: absolute;
   left: 900px;
   top: 150px;
}

#hot-dog {
   position: absolute;
   left: 490px;
   top: 380px;
}

#js-now {
   position: absolute;
   left: 800px;
   top: 800px;
}

#landchad {
   position: absolute;
   left: 30px;
   top: 20px;
}

#linux {
   position: absolute;
   left: 100px;
   top: 750px;
}

#mongolia {
   position: absolute;
   left: 100px;
   top: 800px;
}

#IE {
   position: absolute;
   left: 100px;
   top: 700px;
}

#doom {
   position: absolute;
   left: 100px;
   top: 650px;
}

#haiku {
   position: absolute;
   left: 100px;
   top: 850px;
}

#homocide {
   position: absolute;
   left: 100px;
   top: 600px;
}

#vim {
   position: absolute;
   left: 700px;
   top: 550px;
}

#glitter {
   position: absolute;
   left: 137px;
   top: 137px;
}

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
#superior {
   position: absolute;
   left: 10px;
   top: 200px;
   font-family: "Baloo Bhaina", cursive;
   font-size: 55px;
   color: rgb(234, 220, 72);
   text-shadow: rgba(216, 255, 153, 0.75) 0px 0px 0px, rgba(139, 255, 128, 0.71) 14.3px 14.3px 1.8px, rgba(104, 255, 171, 0.68) 28.6px 28.6px 3.5px, rgba(79, 255, 251, 0.64) 42.9px 42.9px 5.3px, rgba(54, 153, 255, 0.61) 57.1px 57.1px 7px, rgba(38, 29, 255, 0.57) 71.4px 71.4px 8.8px, rgba(147, 5, 255, 0.54) 85.7px 85.7px 10.5px, rgba(235, 0, 211, 0.5) 100px 100px 12.3px;
}

#playar {
   position: fixed;
   right: 0px;
   bottom: 0px;
}
